html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(../assets/img/absurdidad.png);
    color: #333;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-appearance: none;
    border: none;
    background-image: url(../assets/img/ring.png);
    background-color: transparent;
    background-size: cover;
    font-size: 0;
    margin-bottom: 10px;
    outline: none;
}

button[disabled="disabled"] {
    opacity: 0.7;
}

.form-row {
    display: block;
    margin: auto;
}

.user-name {
    border: none;
    border-bottom: solid 1px;
    background: none;
    outline: none;
    background: none;
    font-size: 14px;
}

.el-hide {
    display: none;
}

.el-hidden {
    visibility: hidden;
}
.list-user {
    padding: 0;
    margin: 0 10px;
}
.list-user li {
    text-align: left;
    list-style: none;
    padding: 5px;
}
.list-user li:nth-child(odd) {
    background-color: #ccc;
}

.list-user li:nth-child(even) {
    background-color: #ddd;
}

h5 {
    text-align: left;
    margin: 30px 10px 0;
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    padding: 5px;
    background: #333;
}
.error {
    border-color: #F00;
    color: #F00;
}